* {
  scroll-behavior: smooth;
}

a {
  color: #BF40BF;
}

a:hover {
  color: #980898;
}

body {
  background: #F5F8FA;
  color: #333;
}

header {
  color: #C0C0C0;
}
header nav {
  padding: 12px 0;
}
header nav .logo {
  font-weight: 700;
  border-right: 0.5px solid #C0C0C0;
  color: #808080;
  padding: 0 4px 0 12px;
}
header nav ul {
  margin: 0;
}
header nav ul :first-child {
  border-right: 0.5px solid #C0C0C0;
}
header nav ul li {
  padding: 0 12px;
  cursor: pointer;
}
header nav ul li:hover {
  color: #BF40BF;
}

header::after {
  content: "";
  display: block;
  margin: 0;
  border: 0.4px solid #808080;
  width: 98%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header {
    font-size: 0.8em;
  }
}
.lineBottom::after {
  content: "";
  display: block;
  margin: 0;
  border: 0.2px solid #C0C0C0;
  width: 99%;
  margin: 0 auto;
}

.purpleText {
  color: #BF40BF;
}

.topText {
  margin-top: 32px;
  margin-bottom: 24px;
  text-align: center;
  padding: 0 auto;
}

@media (max-width: 768px) {
  .topText h2 {
    font-size: 1em;
  }
  .topText h6 {
    font-size: 0.7em;
  }
}
main {
  background: #fff;
}
main .booksSection {
  padding: 12px;
}
main .titleB {
  padding: 12px;
}
main table {
  overflow: hidden;
  overflow-x: scroll;
}
main table th {
  color: #808080;
}

@media (max-width: 768px) {
  main {
    font-size: 0.7em;
  }
}